.hamburgerContainer {
  display: flex;
  position: absolute;
  width: 60%;
  right: 0;
  top: 2.5rem;
  z-index: 1000;
  height: 100vh;
  background: linear-gradient(180deg, #f5f5f5 46.48%, #fcfcfc 100%);

  // slide in/out animation
  transform: translateX(0);
  opacity: 1;
  will-change: transform, opacity;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;

  &.slide-enter-active {
    animation: slideInFromRight 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      forwards;
  }

  &.slide-exit-active {
    animation: slideOutToRight 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53)
      forwards;
  }

  .hamburgerUl {
    width: 100%;
    flex-direction: column;
    list-style: none;

    .hamburgerLi {
      background: linear-gradient(180deg, #f5f5f5 53.5%, #fcfcfc 100%);
      padding: 0.5rem 0;
      cursor: pointer;

      a {
        display: block;
        width: 100%;
        height: 100%;
      }

      &:first-child {
        span {
          padding-left: 2rem;
        }
      }

      &:hover {
        .hamburgerLiSpan {
          color: #9c76ac;
        }
      }

      &.active {
        .hamburgerLiSpan {
          color: #9c76ac;
        }

        img {
          rotate: 0deg;
          transition: transform 0.3s ease;
        }
      }

      img {
        width: 0.57rem;
        height: auto;
        margin-left: 1rem;
        margin-right: -1.67rem;
        rotate: -90deg;
      }

      span {
        padding-left: 1rem;
        font-size: 0.9rem;
        font-weight: 700;
        color: #9c76ac;
        line-height: 2.5rem;
        letter-spacing: 0.05rem;
      }

      .hamburgerSubUl {
        padding-bottom: 0.5rem;
        background-color: #f5f5f5;
        list-style: none;

        .hamburgerSubLi {
          span {
            color: #292929;
            font-size: 0.8rem;
          }
          &:hover {
            span {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
    filter: blur(1px);
  }
  20% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.9;
    filter: blur(0px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes slideOutToRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.6;
    transform: translateX(30%);
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
