* {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui,
    'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  font-style: normal;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

#Container {
  display: flex;
  flex-direction: column;
}

#infoTitle {
  color: #1a1a1a;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
}

// Social Login
.socialContainer {
  height: calc(100dvh - 2.5rem);
  background: linear-gradient(180deg, #fff 3.11%, #d4d4d4 93.37%);

  .socialWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6.3rem;

    .socialLogo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .socialIconImg {
        width: 8.6rem;
        height: auto;
      }

      .socialLogoImg {
        width: 9.5rem;
        height: auto;
      }
    }

    .socialDes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;

      span {
        text-align: center;
        font-weight: 500;
        font-size: 1rem;
        line-height: 160%;
      }
    }
  }
}

.kakaoLoginBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.3rem;

  button {
    margin: 0 auto;
    width: 15rem;

    img {
      height: auto;
      width: 100%;
    }
  }
}

// TOS
.tosTitle {
  margin: 1.35rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .subTitle {
    color: #000;
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: -0.03rem;
  }

  .mainTitle {
    padding-top: 0.2rem;
    color: #9b76ab;
    font-size: 1.35rem;
    font-weight: 700;
    letter-spacing: 0.12rem;
  }
}

.tosContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;

  section {
    width: 88%;

    .tosContentTitle {
      color: #000;
      font-size: 0.86rem;
      font-weight: 700;
      letter-spacing: -0.03rem;
    }

    .tosContentText {
      margin: 0.3rem 0 0.95rem;
      color: #000;
      font-size: 0.7rem;
      font-weight: 700;
      line-height: 1.062rem;
      letter-spacing: -0.03rem;

      ol {
        padding-left: 1rem;
        list-style: inside;
      }
    }
  }
}

// Error
.errorContainer {
  width: 100vw;
  height: calc(100vh - 2.5rem);

  .errorWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #fff 3.11%, #d4d4d4 93.37%);
    justify-content: center;
    align-items: center;

    .errorImg {
      display: flex;
      margin-top: -5rem;

      img {
        width: 12rem;
        height: auto;
      }
    }

    .errorText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 3rem 0 2rem;

      span {
        padding-top: 0.4rem;
        text-align: center;
        color: #000;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.4rem;
      }
    }

    .errorBtn {
      button {
        border-radius: 2rem;

        span {
          color: #fff;
          font-weight: 500;
          font-size: 0.95rem;
          letter-spacing: 0.05rem;
        }
      }
    }
  }
}
